<h1>Welcome To Your Dashboard, <%= current_user.name %></h1>

<% if current_user.reserved_events.any? %>
<h2>Upcoming Reserved Events</h2>
    <% current_user.reserved_events.each do |event| %>
        <div class='reserved-event-card'>
            <%= render partial: 'events/partials/eventCard', locals: { event: event } %>
        </div>
    <% end %>
<% end %>

<h2>Your Hosted Events</h2>
<% if current_user.events.any? %>
        <% current_user.events.each do |event| %>
            <div class="user-created-event">
                <%= render partial: 'events/partials/eventCard', locals: { event: event } %>
                <%= render partial: 'events/partials/displayEditRemoveReservations', locals: { event: event } %>
            </div>
        <% end %>
    <% else %>
        <p>You do not have any created events, to create one you can <%= link_to 'click here', new_event_path %> or click on create an event from the navigation bar.</p>
<% end %>