<h1><%= @event.title %></h1>
<h2>Hosted By: <%= @event.user.name %></h2>

<h3><%= date_of @event %> from <%= time_of @event %></h3>


<h3>About</h3>
<p><%= @event.description %></p>

<%= render partial: 'events/partials/displayEditRemoveReservations', locals: { event: @event } %>


<% if can_event_be_reserved?(@event) %>
    <% if can_reserve?(@event) %>
        <%= render partial: 'events/partials/displayReserve', locals: { reservation: @reservation } %>
    <% elsif !logged_in? %>
        <p>To RSVP to this event, you must be logged in.</p>
    <% end %>

<% else %>
    <p>This event cannot be reserved to, as it is a past event.</p>
<% end %>

<%= link_to 'Reviews', event_reviews_path(@event.id) %>